<main id="pages-index">

    <h1>Sorry you do not have access to this page</h1>
    <div calss="page_links">
        <ul>
            <li><%= link_to "Home", index_path%></li>
            <li><%= link_to "Login", login_path%></li>
            <li><%= link_to "Register", register_path%></li>
            <li><%= link_to "Admin", admin_path%></li>
        </ul>
    </div>


</main>